body{
    margin:0;
    padding:0;

}

a{
    text-decoration: none;
    color: white;
}

h1 {
    display:flex;
    background-color:#c3c3ee;
    color: black;
    border-radius: 5px;
    height: 75px;
    padding:0;
    margin: 0;
    
}

.containertitle{
    display: flex;
    align-items:flex-start;
    text-align: center;
    justify-content: flex-start;
    width: 50%;
    font-size: 40px;
    padding: 1%;
    gap: 5px;
}

.containerlinks{
    display: flex;
    align-items:flex-start;
    text-align: center;
    justify-content: flex-end;
    width: 50%;
    font-size: 15px; 
    gap: 5%;
    padding: 1%;
    
    }


.logo{
    height: 40px;
    margin-bottom: 0;
    border-bottom: 0;
    background-color: #c3c3ee;
}



h2 {    
    text-align: center;
    background-color: white;
    margin-top: 0;
    margin-bottom: 10px;
}
div{
    display:block;
    text-align: center;
    
 }

.abv{
    font-size: medium;
}

.beername{ 
    font-size: large;
    font-weight: bold;
}

.flex-container {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
        
}

.flex-container div {
    background: rgb(255, 255, 255);
    border: 0px solid rgb(0, 0, 0);
    height: 400px; 
}

.flex-container2 {
    display:flex;
        }

.beermenupageimage {
    width: 250px;
    height: 200px;
}

.beermenu1 {
    width: 300px;
    text-align: center;
}

.beermenu2 {
    width: 300px;
    text-align: center;
}

.beermenu3 {
    width: 300px;
    text-align: center;
}

.beermenu4 {
    width: 300px;
    text-align: center;
}

.beermenu5 {
    width: 300px;
    text-align: center;
}

.beermenu6 {
    width: 300px;
    text-align: center;
}

h6{
    background-color:#c3c3ee;
    text-align: center;
    margin: 0;
    padding: 25px;
}