html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin:0;
    padding:0;

}

a{
    text-decoration: none;
    color: white;
}

h1 {
    display:flex;
    background-color:#090949;
    color: white;
    height: 75px;
    padding:0;
    margin: 0;
    
}

.containertitle{
    display: flex;
    align-items:flex-start;
    text-align: center;
    justify-content: flex-start;
    width: 50%;
    font-size: 30px;
    padding: 1%;
    gap: 5px;
}

.containerlinks{
    display: flex;
    align-items:flex-start;
    text-align: center;
    justify-content: flex-end;
    width: 50%;
    font-size: 15px; 
    gap: 5%;
    padding: 1%;
    
    }


.logo{
    height: 50px;
    margin-bottom: 0;
    border-bottom: 0;
    background-color: #090949;
}

h2{
    display:flex;
    background-color:#090949;
    color: black;
    flex-direction: row;
    height: 250px;
    padding:0;
    margin: 0;

}

.containerwelcome{
    display: flex;
    align-items:flex-start;
    justify-content: flex-end;
    width: 50%;
    font-size: 20px;
    padding: 1%;
    
}


.welcomewords{
    margin-left: 50%;
}

.welcomewordssub{
    font-size: small;
}

.signup{
    background-color: #0004ff;
    border-radius: 5px;
    padding: 1%;
    width: 25%;
    font-size: small;
    color: white;
    text-align: center;
}

.containerdoggo{
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    width: 50%;
}

.doggoimage{
    height: 200px;
    width: 300px;
    border-radius: 5%;    
}
    
h3{
    
    width: 100%;
    height: auto;
    text-align: center;
    padding:0;
    margin: 0;
    
}

.titleoutdoor{
    margin-top: 25px;
    padding: 5px;
}

.containeroutdoor{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.containeroutdoor img{
    height: 175px;
    width: 175px;
    border-radius: 10px;
    margin-top: 20px;
}

.imagesubtext{
    display: flex;
    width: 175px;
    flex-wrap: wrap;
    font-size: small;
}

h4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: left;
    background-color: #27272b;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
}

.inspiration{
    display: flex;
    width: 400px;
    font-style: italic;
    justify-content: center;
    flex-wrap: wrap;
    font-size: small;
    font-size: x-large;
}

h5{
    background-color:white;
    width: 50%;
    padding: 25%;
    height: auto;
    text-align: center;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    margin: 0;
}

.containerbottomsignup{
    display: flex;
    align-items:flex-start;
    text-align: left;
    background-color: #0004ff;
    border-radius: 10px;
    justify-content: space-evenly;
}

.signupbottom{
    font-size: 25px;
    background-color: #0004ff;
    margin: 15px;
    padding: 0;
    border-radius: 10px;
    color: white;
}

.signupbottomsub{
    font-size: small;
    margin-top: 0;
}

.containersignup2{
    display: flex;
    justify-content: center;
    align-self: center;
    width: auto;
    align-items: center;
    background-color: #0004ff;
    border-radius: 5px;
    border: solid;
    border-color: white;
    border-width: 2px;
    padding-left: 10px;   
    padding-right: 10px; 
}

h6{
    background-color:#c3c3ee;
    text-align: center;
    margin: 0;
    padding: 25px;
}
